PORT=5002
MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster.mongodb.net/foodapp?retryWrites=true&w=majority
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
BORZO_AUTH_TOKEN=
BORZO_USE_PRODUCTION=false
BORZO_PICKUP_NAME=
BORZO_PICKUP_PHONE=
BORZO_PICKUP_ADDRESS=
BORZO_FALLBACK_DROP_ADDRESS=
BORZO_PICKUP_NOTE=
PUBLIC_BASE_URL=
